.c-btn{
  border-radius: $global-radius;
  font-weight: 500px;
  line-height: 36px;
  padding: 9px 49px;
  font-size: 22px;
  border: none;
} 

.c-btn--primary{
  background-color: $base-color;
  color: #fff;
}

.c-btn--secondary{
  background-color: $secondary-color;
  color: #fff;
}