.c-section--why-us {
  padding: 96px 0 64px 0;
  color: #fff;

  .c-why-us{
    display: flex;
    padding: 0 64px;
  }

  .c-why-us__image-wrap{
    position: relative;
    top: 64px;

    img{
      height: 100%;
    }
  }

  .c-why-us--content{
    padding: 104px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
