.c-section--hero {
  background-image: url("../../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  .c-hero {
    padding-top: 400px;
    max-width: 584px;
    margin: auto;

    .c-hero__title {
      font-family: $roboto-slab;
      @include font-size(52px,62px);
      margin-bottom: 20px;
      text-align: center;
      font-weight: 700;
    }

    .c-hero__description {
      @include font-size(24px,39px);
      text-align: center;
      font-weight: 400;
      margin: 0;
    }

    .c-hero__btn-group {
      justify-content: center;
      margin-top: 69px;
      display: flex;
      gap: 40px;
    }
  }
}

.c-navbar {
  position: absolute;
  width: 100%;
  padding-top: 60px;
  .c-navbar--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .u-link {
      .c-navbar__logo {
        height: 113px;
      }
    }
    .o-navbar {
      list-style: none;
      display: flex;
      gap: 40px;

      li {
        a {
          display: inline-block;
          padding: 7px 0;
        }

        &.current-menu-item {
          border-bottom: 1px solid $orange-500;
        }
      }
    }
    .c-navbar__sandwich {
      position: absolute;
    }
  }
}
