body,
html {
  font-family: $catamaran;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #fff;
  background: #000;
}

.main {
  background-color: #fff;
}

.container {
  width: 1204px;
  margin: auto;
}

.c-section {
  border: 1px solid #8d8d8d;
  background-color: #181110;
}
